@mixin transition {
   transition: all 0.5s ease;
}

@mixin transition-02 {
   transition: all 0.2s ease;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin preline {
  white-space: pre-line;
}

@mixin round-image {
  box-sizing: padding-box;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  width: 9em;
  height: 9em;
  border-radius: 6em;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}
