@mixin transition {
   transition: all 0.5s ease;
}

@mixin transition-02 {
   transition: all 0.2s ease;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin preline {
  white-space: pre-line;
}
