/* ==========================================================================
   Padding classes
   ========================================================================== */

  /*
   Padding Top
  */

  .padding-top-0 {
    padding-top: 0em;
   }

  .padding-top-1 {
    padding-top: 1em;
  }

  .padding-top-2 {
    padding-top: 2em;
  }

  .padding-top-3 {
    padding-top: 3em;
   }

  .padding-top-4 {
    padding-top: 4em;
  }

  .padding-top-5 {
    padding-top: 5em;
  }


    /*
   Padding Bottom
  */

  .padding-bottom-0 {
    padding-bottom: 0em;
   }

  .padding-bottom-1 {
    padding-bottom: 1em;
  }

  .padding-bottom-2 {
    padding-bottom: 2em;
  }

  .padding-bottom-3 {
    padding-bottom: 3em;
   }

  .padding-bottom-4 {
    padding-bottom: 4em;
  }

  .padding-bottom-5 {
    padding-bottom: 5em;
  }


