// Variables

// Brand colors
$brand-primary:         #22b238; // Sellbranch green
$brand-secondary:       #00a6eb; // Sellbranch blue
$brand-dark:            #2f3d48; // Sellbranch darkgray
$brand-light:           #4ece4e; // Sellbranch lightgree

$color-success:         #4caf50;
$color-info:            #5bc0de;
$color-warning:         #f0ad4e;
$color-error:           #e74c3c;

$body-bg:               #ffffff;

$gray:                  #2f3d48; // Sellbranch darkgray
$gray-light:            #9dadba;
$deep-blue:             #171722; // Deprecated
$white:                 #ffffff;

// Borders
$border-color:          #dddddd;

// Shadows
$shadow-color:          rgba(0, 0, 0, .2);
$box-shadow:            0 0 5px $shadow-color;

// Social colors
// $fb: rgb(59, 89, 182);
// $tw: rgb(64, 153, 255);
// $googleplus: rgb(215, 61, 50);
// $pinterest: rgb(203, 32, 39);
// $skype: rgb(18, 165, 244);
// $spotify: rgb(129, 183, 26);
// $instagram: #4e433c;
// $tumblr: #2b4964;
// $vimeo: #86b32d;
// $soundcloud: #f76600;
// $youtube: #ff3333;
// $linkedin: #4875b4;
// $flickr: #fe0883;
// $foursquare: #8fd400;

// Text color

$text-color:            $white;       // deprecated. Use $text-body instead.
$text-body:             $gray;
$text-light-gray:             lighten($brand-dark, 45%);

// $text-color-map: (
//   primary:              $brand-primary,
//   secondary:            $brand-secondary,
//   body:                 $text-body,
//   gray:                 $text-gray,
//   green:                $color-success,
//   success:              $color-success,
//   red:                  $color-error,
//   error:                $color-error,
//   warning:              $color-warning
// );


// Layout

// Media queries
$screen-sm: 48em;   // 768px
$screen-md: 62em;   // 992px
$screen-lg: 75em;   // 1200px


// Container

// $gutterwidth:               36px;
$container-maxwidth:        73.125em;     // 1170px
$container-medium-maxwidth: 90%;          // 992px
$container-small-maxwidth:  90%;          // 768px
$radius:                    3px;
$border-box:                true;

// Content

$content-maxwidth:          71.125em;      // 1138px
$content-medium-maxwidth:   90%;
$content-small-maxwidth:    90%;


// Typography
$basefont: 'Titillium Web', sans-serif;

$font-size-base:        1em;      // 16px
$font-size-base-medium: 1.125em;  // 18px
$font-size-base-large:  1.125em;  // 18px

$intro-font-base:       1.5em;    // 24px

$transition05:          all 0.3s ease;

$imagen:                100%;
