.about__section {
  margin-top: 0em;
}

.h3__about {
  padding-top: 5.5em;
  padding-bottom: 0.75em;
  text-align: center;
}




@media screen and (min-width: $screen-sm) {

  .about__section {
    margin-top: 0em;
  }

}


@media screen and (min-width: $screen-md) {

  .about__section {
    margin-top: 0em;
  }

}


@media screen and (min-width: $screen-lg) {

  .about__section {
    margin-top: 0vh;

  }

}



