.about__section {
  padding-top: 3em;
}

// .row__about {
//   margin-bottom: 3em;
// }

.intro__about {
    text-align: center;
    white-space: normal;
}



@media screen and (min-width: $screen-md) {

  .about__section {
    padding-top: 6.25em;
  }

  .intro__about {
    text-align: center;
    white-space: pre-line;
  }

}



