.about__section {
  padding-top: 3em;
}

.h3__about {
  padding-top: 5.5em;
  padding-bottom: 0.75em;
  text-align: center;
}


@media screen and (min-width: $screen-md) {

  .about__section {
    padding-top: 5.25em;
  }

}



