/* ==========================================================================
   CEO
   ========================================================================== */

.ceo__section {
  margin-top: 2em;
}

  .ceo__section-content {
    margin-top: -1px;
    padding-bottom: 8em;
    width: 100%;
    // background-color: lighten($brand-primary, 35%);
  }

  .image-fredrik {
    background-image: url("img/fredriksellgren.jpg");
    background-size: 100% 100%;
}

@media screen and (min-width: $screen-sm) {

  .ceo__section {
    margin-top: 0em;
    width: 100%;
  }

}
