/* ==========================================================================
   Contact
   ========================================================================== */
.hidden_title-col-md {
    display: none;
}

.hidden_title-col-lg {
    display: block;
}

.title__maps {
  padding-top: 2em;
  padding-bottom: 0.5em;
  font-size: 2.25em;
  font-weight: 200;
  text-align: center;
  color: $brand-primary;
}

.img_maps {
  padding-top: 2em;
  padding-bottom: 1em;
  height: 20em;
}




@media screen and (min-width: $screen-sm) {

  .contact__section {
   padding-top: 4em;
  }

  .title-padding {
    padding-bottom: 1rem;
  }

  .img_maps {
      padding-top: 0em;
    height: 25em;
  }

}

@media screen and (min-width: $screen-lg) {

  .hidden_title-col-md {
      display: block;
  }

  .hidden_title-col-lg {
      display: none;
  }

}

