/* ==========================================================================
   Cover styles
   ========================================================================== */

.cover {
  position: relative;
  min-height: 250px;
  margin-bottom: 0em;
  transition: $transition05;
}

  .cover__image {
    min-width: 100%;
    background: url("../img/cover-sx.jpg") no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  }


  .uk-cover-object {
    // display: block;
    // clear: both;
    width: auto;
    height: 350px;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .uk-cover-object {
      left: 50%;
      top: 50%;
      position: relative;
  }

  .uk-position-absolute {
    position: absolute!important;
  }

    h1{
      position: absolute;
      z-index: 1000;
      margin-bottom: 0.25em;
      margin-top: 4.5em;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 2em;
      text-align: center;
      color: $white;
      background-color: rgba(52, 167, 55, 0.0);
    }

    .subtitle {
      display: none;
      // color: $white;
      // text-align: center;
      // line-height: 1.5em;
      // padding-bottom: 2em;
    }




@media screen and (min-width: 480px) {

  .cover {
    min-height: 70%;
  }

  .uk-cover-object {
    width: auto;
    height: 450px;
  }

    h1 {
      margin-top: 4em;
      // padding-top: 2em;
      // padding-bottom: 2em;
      font-size: 2.5em;
      line-height: 1em;
    }

    .subtitle {
      margin-top: 0em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-size: 1.5em;
      background-color: rgba(0, 0, 0, 0.1);
    }

}



@media screen and (min-width: $screen-sm) {

  .cover {
    min-height: 50%;
    margin-bottom: 0em;
  }

  .uk-cover-object {
    width: auto;
    height: 700px;
  }

    .cover__image {
      background: url("../img/cover.jpg") no-repeat;
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 50%;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
    }

    h1 {
      margin-top: 30%;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-size: 3.75em;
    }

    .subtitle {
      display: block;
      color: $white;
      text-align: center;
      line-height: 1.5em;
      // padding-bottom: 2em;
    }
}



@media screen and (min-width: $screen-md) {


  .cover {
    min-height: 60vh;
  }

  .uk-cover-object {
    width: auto;
    height: 800px;
  }
      h1 {
        margin-top: 22vh;
      }
}



@media screen and (min-width: $screen-lg) {

  .cover {
    min-height: 80vh;
  }

  .uk-cover-object {
    width: auto;
    height: auto;
  }

    h1 {
      margin-top: 32vh;
      // padding-top: 0.5em;
      // padding-bottom: 0.5em;
    }

}
