/* ==========================================================================
   Cover styles
   ========================================================================== */

.cover {
  position: relative;
  min-height: 400px;
  margin-bottom: 0em;
  transition: $transition05;
}

  .cover__image {
    min-width: 100%;
    background: url("../img/cover-sx.jpg") no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  }

    h1{
      margin-bottom: 0.25em;
      padding-top: 60%;
      font-size: 2em;
      text-align: center;
      color: $white;
    }

    .subtitle {
      color: $white;
      text-align: center;
      line-height: 1.5em;
      padding-bottom: 2em;
    }




@media screen and (min-width: 480px) {

  .cover {
    min-height: 70%;
  }

    h1 {
      padding-top: 5.5em;
      font-size: 2.5em;
      line-height: 1em;
    }

    .subtitle {
      padding-bottom: 3em;
      font-size: 1.5em;
    }

}



@media screen and (min-width: $screen-sm) {

  .cover {
    min-height: 50%;
    margin-bottom: 0em;
  }

    .cover__image {
      background: url("../img/cover.jpg") no-repeat;
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 50%;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
    }

    h1 {
      padding-top: 30%;
      font-size: 3.75em;
    }
}



@media screen and (min-width: $screen-md) {


  .cover {
    min-height: 60vh;
  }
      h1 {
        padding-top: 25vh;
      }
}



@media screen and (min-width: $screen-lg) {

  .cover {
    min-height: 80vh;
  }

    h1 {
      padding-top: 35vh;
      padding-bottom: 0.5em;
    }

}
