/* ==========================================================================
   Cover styles
   ========================================================================== */

.cover {
  position: relative;
  min-height: 350px;
  margin-bottom: 0em;
  transition: $transition05;
}

  .cover__image {
    min-width: 100%;
    background: url("../img/cover-sx.jpg") no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  }

.video {
  width: 100%;
  height: auto;
  // overflow: hidden;
}

  .uk-cover-object {
    display: none;
    clear: both;

    width: 100%;
    height: 350px;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .uk-cover-object {
      left: 50%;
      top: 50%;
      position: relative;
  }

  .uk-position-absolute {
    position: absolute !important;
  }

    h1{
      position: absolute;
      z-index: 1000;
      margin-bottom: 0.25em;
      margin-top: 3em;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 2em;
      text-align: center;
      color: $white;
      background-color: rgba(52, 167, 55, 0.0);
    }

    .subtitle {
      display: none;
    }




@media screen and (min-width: 480px) {

  .cover {
    min-height: 70%;
  }

    h1 {
      margin-top: 2.5em;
      font-size: 2.5em;
      line-height: 1em;
    }

}



@media screen and (min-width: $screen-sm) {

  .cover {
    display: block;
    margin-bottom: 0%;
  }

  .uk-cover-object {
    display: block;
    clear: both;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  .uk-cover-object {
      left: 50%;
      top: 40%;
      position: relative;
  }

  .uk-position-absolute {
    position: absolute !important;
  }


    .cover__image {
      background: url("") no-repeat;
      background-size: cover;
      background-position-x: 50%;
      background-position-y: 50%;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
    }

    h1 {
      margin-top: 10%;
      padding-top: 2em;
      padding-bottom: 2em;
      font-size: 4em;
    }


}



@media screen and (min-width: $screen-md) {


  .cover {
    margin-bottom: 15%;
  }

  .uk-cover-object {
    // height: 1000px;
    // background-color: red;
  }
    h1 {
      margin-top: 10vh;
      padding-bottom: 0.5em;
      font-size: 3.25em;
    }

    .subtitle {
      display: block;
      color: $white;
      text-align: center;
      font-size: 1.25em;
      line-height: 1.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      background-color: rgba(0, 0, 0, 0.1);
    }
}



@media screen and (min-width: $screen-lg) {

  .cover {
    margin-bottom: 10%;
  }

  .uk-cover-object {
    // width: auto;
    height: auto;
  }

    h1 {
      margin-top: 20vh;
      font-size: 5em;
      padding-top: 0em;
    }

}



@media screen and (min-width: $screen-xl) {

  .cover {
    margin-bottom: 14%;
  }

      h1 {
      margin-top: 30vh;
      font-size: 5em;
      padding-top: 0em;
    }

}
