/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  font-size: 0.8rem;
  margin-top: 0em;
  padding: 2em;
  text-align: left;
  color: lighten($brand-dark, 5%);
  background-color: darken($brand-dark, 10%);
}

.ava { padding-top: 1em; }

.design {
  font-size: 0.7rem;
  color: lighten($brand-dark, 1%);
  text-decoration: none;
  @include transition;
}

.design:hover {
  color: lighten($brand-dark, 10%);
  opacity: 1;
}

.design::after {
  position: absolute;
  content: "";
  background: url("../img/avacolor.svg") no-repeat 0 0;
  margin-top: 5px;
  padding-left: 10px;
  width: 25px;
  height: 16px;
  opacity: 0.3;
  @include transition;
}

.design:hover::after {
  content: "";
  background: url("../img/avacolor.svg") no-repeat 0 0;
  opacity: 1;
}


@media screen and (min-width: $screen-sm) {

  footer { font-size: 1rem; }

  .ava { padding-top: 0em; }

  .design { font-size: 0.8rem; }

  .design::after { margin-top: 7px; }

}

