/* ==========================================================================
   Founder
   ========================================================================== */

.founder__section {
  margin-top: -0em;
}

  // .founder__section-content {
  //   width: 100%;
  //   margin-top: -1px;
  //   padding-bottom: 6em;
  //   // background-color: $brand-dark;
  // }


@media screen and (min-width: $screen-sm) {

  .founder__section {
    width: 100%;
    margin-top: -6em;
    margin-bottom: 0em;
  }
    .founder__section-polygon {
      height: 5em;
      margin-top: -9em;
    }

}
