/* ==========================================================================
   Layout
   ========================================================================== */

.img {
  width: $imagen;
}

section {
  width: 100%;
}

.row_brand {
  max-width: $content-small-maxwidth;
}

// min-width: 768px
@media screen and (min-width: $screen-sm) {

  .row_brand {
    max-width: $content-small-maxwidth;
  }
}



// min-width: 992px
@media screen and (min-width: $screen-md) {

  .row_brand {
    max-width: $content-medium-maxwidth;
  }
}

// min-width: 1200px
@media screen and (min-width: $screen-lg) {

  .row_brand {
    max-width: $content-maxwidth;
  }
}


/* ==========================================================================
   Flexbox
   ========================================================================== */

.flex-container {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  display: block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

    .flex-item {
        width: 100%;
        margin:0;
        // background-color: green;
    }

.space-between {
    justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}




// min-width: 768px
@media screen and (min-width: $screen-sm) {

  .flex-container {
    width: $content-small-maxwidth;
    display: flex;
    padding-left: 0em;
    padding-right: 0em;
  }

}





// min-width: 992px
@media screen and (min-width: $screen-md) {

    .flex-container {
    width: $content-medium-maxwidth;
  }

}





// min-width: 1200px
@media screen and (min-width: $screen-lg) {

  .flex-container {
    max-width: $content-maxwidth;
  }
}





