/* ==========================================================================
   Timeline
   ========================================================================== */
.timeline__section {
  min-height: 545px;
  background: url("../img/timeline.svg") no-repeat;
  background-size: cover;
  background-position: 80% 110%;
}

  .timeline__col{
    margin-bottom: 2em;
    background-color: rgba(55, 0, 0, 0.1);
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .timeline__col:first-child {
    margin-top: 8em;
  }

    .timeline__year-date {
      font-size: $font-size-base;
      font-weight: 600;
      color: $brand-dark;
      text-align: left;
      padding-bottom: 1em;
    }

    .timeline__year-circle {
      display: none;
    }

    .timeline__year-text {
      padding-left: 0em;
      padding-right: 0em;
      text-align: left;
      // background-color: rgba(0, 0, 0, 0.1);
    }



@media screen and (min-width: $screen-sm) {

  .timeline__section {
    background-position: 50% 50%;
  }

  .timeline__col:first-child {
    margin-top: 11.25em;
    margin-left: 2%;
  }

  .timeline__col:nth-child(2) {
    margin-top: 8.25em;
  }

  .timeline__col:nth-child(3) {
    margin-top: 6.25em;
  }

  .timeline__col:nth-child(4) {
    margin-top: 4.5em;
  }

  .timeline__col:nth-child(5) {
    margin-top: 3em;
  }

  .timeline__col:not(:first-child) {
    margin-left: 3%;
  }

    .timeline__year-date {
      font-size: $font-size-base-medium;
      text-align: center;
      padding-bottom: 0em;
    }

    .timeline__year-circle {
      display: block;
      margin: 0 auto;
      margin-top: 1em;
      margin-bottom: 2em;
      width: 1.3em;
      height: 1.3em;
      background-color: $white;
      border-radius: 6vw;
      border: 3px solid $brand-primary;
      overflow: hidden;
    }


}



@media screen and (min-width: $screen-md) {

  .row__timeline{
    // background-color: rgba(200, 200, 0, 0.5);
  }

    .timeline__col:first-child {
      margin-top: 13.1em;
      margin-left: 2%;
    }

    .timeline__col:nth-child(2) {
      margin-top: 9.25em;
    }

    .timeline__col:nth-child(3) {
      margin-top: 6.25em;
    }

    .timeline__col:nth-child(4) {
      margin-top: 3.75em;
    }

    .timeline:nth-child(5) {
      margin-top: 2em;
    }

    .timeline:not(:first-child) {
      margin-left: 3.5%;
    }

}



@media screen and (min-width: $screen-lg) {

  .row__timeline{
    // background-color: rgba(200, 200, 0, 0.1);
  }

    .timeline__col {
      padding-left: 1em;
      padding-right: 1em;
    }

    .timeline__col:first-child {
      margin-left: 8.333%;
    }

    .timeline__col:first-child {
      margin-top: 13em;
    }

    .timeline__col:nth-child(2) {
      margin-top: 9.25em;
    }

    .timeline__col:nth-child(5) {
      margin-top: 2em;
    }

    .timeline__col:not(:first-child) {
      margin-left: 0%;
    }
}



