/* ==========================================================================
   Timeline
   ========================================================================== */
.timeline__section {
  min-height: 545px;
  background: url("../img/timeline-sx.svg") no-repeat;
  background-size: cover;
  background-position: 100% 0%;
}

  .timeline__col{
    margin-bottom: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .timeline__col:first-child {
    margin-top: 4em;
  }

    .timeline__year-date {
      padding-bottom: 0em;
      font-size: $font-size-base;
      font-weight: 600;
      text-align: left;
      color: $brand-primary;
      // background-color: red;
    }

    .timeline__year-circle {
      display: none;
    }

    .timeline__year-text {
      margin-top: 0em;
      margin-bottom: 0.5em;
      padding-left: 0em;
      padding-right: 0em;
      font-size: 1em;
      line-height: 1.5em;
      text-align: left;
      // background-color: rgba(0, 0, 0, 0.1);
    }



@media screen and (min-width: $screen-sm) {

  .timeline__section {
    background: url("../img/timeline.svg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .timeline__col:first-child {
    margin-top: 10.15em;
    margin-left: 2%;
  }

  .timeline__col:nth-child(2) {
    margin-top: 7em;
  }

  .timeline__col:nth-child(3) {
    margin-top: 5.15em;
  }

  .timeline__col:nth-child(4) {
    margin-top: 3.5em;
  }

  .timeline__col:nth-child(5) {
    margin-top: 2em;
  }

  .timeline__col:not(:first-child) {
    margin-left: 3%;
  }

    .timeline__year-date {
      padding-bottom: 0em;
      font-size: $font-size-base-medium;
      text-align: center;
    }

    .timeline__year-circle {
      display: block;
      width: 1.3em;
      height: 1.3em;
      margin: 0 auto;
      margin-top: 1em;
      margin-bottom: 2em;
      background-color: $white;
      border-radius: 6vw;
      border: 3px solid $brand-primary;
      overflow: hidden;
    }


}



@media screen and (min-width: $screen-md) {

  .row__timeline{
    // background-color: rgba(22, 200, 0, 0.5);
  }

    .timeline__col:first-child {
      margin-top: 12.25em;
      margin-left: 2%;
    }

    .timeline__col:nth-child(2) {
      margin-top: 8.15em;
    }

    .timeline__col:nth-child(3) {
      margin-top: 5.25em;
    }

    .timeline__col:nth-child(4) {
      margin-top: 3.25em;
    }

    .timeline__col:nth-child(5) {
      margin-top: 1.5em;
    }

    .timeline__col:not(:first-child) {
      margin-left: 3.5%;
    }

}



@media screen and (min-width: $screen-lg) {

  .row__timeline{
    // background-color: rgba(200, 200, 0, 0.1);
  }

    .timeline__col {
      padding-left: 1em;
      padding-right: 1em;
    }

    .timeline__col:first-child {
      margin-left: 8.333%;
    }

    .timeline__col:first-child {
      margin-top: 12.25em;
    }

    .timeline__col:nth-child(2) {
      margin-top: 8.5em;
    }

    .timeline__col:nth-child(3) {
      margin-top: 5.5em;
    }

    .timeline__col:nth-child(4) {
      margin-top: 3em;
    }

    .timeline__col:nth-child(5) {
      margin-top: 1.25em;
    }

    .timeline__col:not(:first-child) {
      margin-left: 0%;
    }
}



