/* ==========================================================================
   Archive
   ========================================================================== */

.archive {
  display: block;
  width: 100%;
  @include transition;
  padding-left: 0.25em;
}

  .archive__border--top {
    border-top: 1px solid lighten($brand-secondary, 30%);
  }

  .archive__border--bottom{
    border-bottom: 1px solid lighten($brand-secondary, 30%);
  }


@media screen and (min-width: $screen-sm) {

  .archive__border--bottom{
    border-bottom: 0px solid lighten($brand-secondary, 30%);
  }

  .archive__border--end{
    border-bottom: 1px solid lighten($brand-secondary, 30%);
  }

}

.archive:hover {
  // background-color: lighten($brand-secondary, 50%);
}



  .archive__date {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875em;
    color: $brand-secondary;
    padding-top: 0.75em;
    padding-left: 0.5em;
  }

   .archive__content {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      margin-top: -0.25em;
   }

    .archive__file--download {
      width: 90%;
      padding: 0.5rem 0rem 1.25rem 0.5em;
      line-height: 1rem;
      color: $brand-dark;
      font-size: 1.125em;
      text-decoration: none;
      @include ellipsis;
    }

    .archive__icon--download {
      width: 18px;
      height: 22px;
      background: url('../img/download.svg') no-repeat;
      margin-top: -5px;
      margin-left: 1em;
      padding-right: 0.5em;
    }

    .archive__icon--go {
      width: 18px;
      height: 22px;
      background: url('../img/go.svg') no-repeat;
      margin-top: -5px;
      margin-left: 1em;
      padding-right: 0.5em;
    }
