.archive {
  width: 95%;
  border-top: 1px solid lighten($brand-secondary, 30%);
  @include transition;
  padding-left: 0.25em;
}

  .archive:last-child {
    border-bottom: 1px solid lighten($brand-secondary, 30%);
  }

  .archive:nth-child(4) {
    border-bottom: 0px solid lighten($brand-secondary, 30%);
  }

@media screen and (min-width: $screen-sm) {

  .archive:nth-child(4) {
    border-bottom: 1px solid lighten($brand-secondary, 30%);
  }

}

.archive:hover {
  // background-color: lighten($brand-secondary, 50%);
}



  .archive__date {
    margin-top: 0;
    font-size: 0.875em;
    color: $brand-secondary;
    padding-top: 0.75em;
    padding-bottom: 0em;
  }

   .archive__content {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      margin-top: -0.25em;
   }

    .archive__file--download {
      width: 90%;
      padding: 0.5rem 0rem 1.25rem 0;
      line-height: 1rem;
      color: $brand-dark;
      font-size: 1.125em;
      text-decoration: none;
      @include ellipsis;
    }

    .archive__icon--download {
      width: 18px;
      height: 22px;
      background: url('../img/download.svg') no-repeat;
      margin-top: -8px;
      margin-left: 1em;

    }
