/* ==========================================================================
   Button Up
   ========================================================================== */


.button {
  z-index: 9000;
  display: none;
  position: fixed;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-left: 0em;
  padding-right: 0em;
  right: 10px;
  bottom: 10%;
  border: none;
  transition: all .5s;
  text-align: center;
  background-color: rgba(55,55,55,0.6);
}

.button:hover {
  background-color: rgba(0,166,235,0.6);
}

  .buttom__icon {
    display: block;
    margin-left: 5px;
    padding-left: 0px;
    width: 30px;
    height: 30px;
    background: url("../img/arrow.svg") no-repeat;
    transition: all .5s;
  }


@media screen and (min-width: $screen-sm) {

  .button {
    width: 60px;
    height: 60px;
    right: 30px;
  }

    .buttom__icon {
    margin-left: 15px;
    padding-left: 0px;
  }

}
