/* ==========================================================================
   Round Image
   ========================================================================== */

.round__image {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  width: 9em;
  height: 9em;
  border-radius: 6em;
  overflow: hidden;
}

  .round__image--border-brand-primary {
    border: 6px solid $brand-primary;
    background-color: $brand-primary;
    margin-top: -6em;
    margin-bottom: 1em;
  }

  .round__image--border-light-brand-primary {
    border: 6px solid lighten($brand-primary, 35%);
    background-color: lighten($brand-primary, 35%);
    margin-top: -6em;
    margin-bottom: 1em;
  }

  .round__image--border-brand-dark {
    border: 6px solid $brand-dark;
    background-color: $brand-dark;
    margin-top: -6em;
    margin-bottom: 1em;
  }
