/* ==========================================================================
   Round Image
   ========================================================================== */

  // mixins @include round-image



  // Round image for CEO and Founder

  .round__image--border-light-brand-primary {
    @include round-image;
    border: 6px solid lighten($brand-primary, 35%);
    background-color: lighten($brand-primary, 35%);
    margin-bottom: 1em;
  }

  .round__image--border-brand-dark {
    @include round-image;
    border: 6px solid $brand-dark;
    background-color: $brand-dark;
    margin-bottom: 1em;
  }

    .round__image--margin {
      margin-top: -6em;
    }


  // Direct Sales

  .round__image--border-twitter {
    @include round-image;
    border: 12px solid $tw;
    background-color: $tw;
    margin-bottom: 1em;

  }


  .round__image--border-yahoo {
    @include round-image;
    border: 12px solid $yahoo;
    background-color: $yahoo;
    margin-bottom: 1em;

  }


  .round__image--border-error {
    @include round-image;
    border: 12px solid $color-error;
    background-color: $color-error;
    margin-bottom: 1em;

  }


@media screen and (min-width: $screen-md) {

    .round__image--border-twitter:hover {
      border: 18px solid $tw;
      margin-bottom: 1.5em;
    }
    .round__image--border-yahoo:hover {
      border: 18px solid $yahoo;
      margin-bottom: 1.5em;
    }
    .round__image--border-error:hover {
      border: 18px solid $color-error;
      margin-bottom: 1.5em;
    }


}


