@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700);

html {
  font-size: 100%;
}

body {
  font-size: inherit;
  line-height: 1.5;
}

h1,h2,h3,h4,h4,h6,
ul, ol, dl,
p, blockquote {
  margin-top: 0;
}

h1,
.t-h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.75em;
  font-weight: 200;
  color: red;
}

h2,
.t-h2 {

}

h3,
.t-h3 {

}

h4,
.t-h4 {

}

h5,
.t-h5 {

}

h6,
.t-h6 {

}
