@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700);

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body {
  font-family: $basefont;
  // font-size: inherit;
  line-height: 1.5;
}

h1,h2,h3,h4,h4,h6,
ul, ol, dl,
p, blockquote {
  margin-top: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;

}

h1,
.t-h1 {
  font-weight: 200;
  font-smooth: auto;
}

h2,
.t-h2 {
  font-size: 3em;
  font-style: normal;
  font-weight: 200;
}


h3,
.t-h3 {
  font-size: 1.375em;     // 22px
  font-weight: 300;
  padding-top: 4em;
  padding-bottom: 0.75em;
  text-align: center;
}

h4,
.t-h4 {

}

h5,
.t-h5 {

}

h6,
.t-h6 {

}

.subtitle {
  font-size: 1.125em;     // 18px
  font-weight: 400;
}

.intro {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 1.125em;     // 18px
  font-weight: 400;
}

p {
  font-weight: 400;
  text-align: left;
  margin-top: 1em;
}

.no-top{
  margin-top: 0em;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $brand-primary;
}

.text-light-gray {
  color: $text-light-gray;
}


@media screen and (min-width: $screen-sm) {

  h2,
  .t-h2 {
    font-size: 3.75em;    // 60px
  }

  h3,
  .t-h3 {
    font-size: 1.5em;     // 24px
    font-weight: 300;
  }

  .intro {
  font-size: 1.5em;       // 24px
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  }

}


@media screen and (min-width: $screen-md) {

  p {
    font-size: 1.125em;
    line-height: 1.875rem;
  }

}


