@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700);

html {
  font-size: 100%;
}

body {
  font-family: $basefont;
  // font-size: inherit;
  line-height: 1.5;
}

h1,h2,h3,h4,h4,h6,
ul, ol, dl,
p, blockquote {
  margin-top: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

h1,
.t-h1 {
  font-weight: 200;
  font-smooth: auto;
}

h2,
.t-h2 {
  font-size: 3em;
  font-weight: 200;
  font-smooth: auto;
}


h3,
.t-h3 {

}

h4,
.t-h4 {

}

h5,
.t-h5 {

}

h6,
.t-h6 {

}

.subtitle {
  font-size: 1.125em;
  font-weight: 200;
}

.intro {
  font-size: 1.125em;
  font-weight: 300;
}


@media screen and (min-width: $screen-sm) {

  h2,
  .t-h2 {
    font-size: 3.75em;
  }

  .intro {
  font-size: 1.5em;
  line-height: 36px;
  }

}


